/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
}

header{
    background-color: #1dbf73;
    padding: 10px;
    margin-bottom: 30px;
}

header h1{
    font-size: 2.1rem;
    font-weight: 700;
    color: #fff;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
}

.wrapper .left{
    max-width: 60%;
    text-align: left;
    padding: 10px;
    margin-right: 10px;
}

.wrapper .left h1{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.wrapper .left p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 15px;
}

.wrapper .left form h4{
    width: 100%;
    margin-top: 15px;
    font-size: 1.5rem;
    color:#1dbf73;
}

.wrapper .left form select, input{
    width: 100%;
    border: 2px solid grey;
    font-size: 1.2rem;
    color: grey;
    border-radius: 10px;
    padding: 10px;
}

.wrapper .left form input{
    margin-top:30px;
    margin-bottom: 10px;
}

.wrapper .left form button{
    width: 100%;
    cursor: pointer;
    border: 2px solid #000;
    font-size: 1.2rem;
    line-height: 35px;
    background-color: grey;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;  
}

.wrapper .right{
    max-width: 30%;
}

.wrapper .right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 680px) {
    .wrapper .left{
        max-width: 100%;
    }
    .wrapper .left h1, .wrapper .left p{
        text-align: center;
    }
    .wrapper .right{
        display: none;
    }
  }

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10%;
}

#item1, #item2, #item3{
    border: 2px solid grey;
    border-radius: 5px;
    background-image: linear-gradient(to right, #00b09b, #96c93d);
    box-shadow: 0 0 2px 2px gray;
    color:#fff;
    display: none;
    align-items: center;
    margin: 20px;
    height: 100px;
    width: 250px;
    text-decoration: non;
}

#item1 h1, #item2 h1, #item3 h1{
    font-size: 2.3rem;
    font-weight: 700;
    margin: auto;
}
